<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"/><title>Checkpoint - Release Earmark</title>
<link rel="stylesheet" th:href="@{/css/global-1.css}"/></head>
<body>
<div id="header"><table width="100%" cellpadding="2"><tr>
  <td><strong>Checkpoint</strong> &nbsp; <a th:href="@{/Menu.action}">Menu</a></td>
  <td align="right">Welcome, <span th:text="${user != null ? user.userFName + ' ' + user.userLName : ''}">User</span>
    &nbsp; <a th:href="@{/Logoff.action}">Logoff</a></td>
</tr></table></div>
<div id="content">
  <h2>Release Earmark Files</h2>
  <div th:if="${error}" style="color:red" th:text="${error}"></div>
  <p>Process Date: <span th:text="${sel.processDate}"></span></p>
  <table border="1" cellpadding="4">
    <tr class="tblh"><th>File</th><th>Action</th></tr>
    <tr th:each="row : ${sel.relFile}">
      <td th:text="${row.file2Release}"></td>
      <td><form method="post" th:action="@{/ChexReleaseEarmark.action(action='Release')}" style="display:inline">
        <input type="hidden" name="releaseFileName" th:value="${row.file2Release}"/>
        <button type="submit">Release</button></form></td>
    </tr>
    <tr th:if="${sel.relFile == null or sel.relFile.isEmpty()}"><td colspan="2">No files to release.</td></tr>
  </table>
</div></body></html>
