<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"/><title>Checkpoint - Inclear EOD Complete</title>
<link rel="stylesheet" th:href="@{/css/global-1.css}"/>
    <link rel="stylesheet" th:href="@{/css/screen.css}" href="/css/screen.css"/></head>
<body>
    <div th:replace="~{fragments/layout :: header}"></div>
<div id="content" style="text-align:center;">
  <h2>Inclear EOD Complete</h2>
  <div th:if="${error}" style="color:red" th:text="${error}"></div>
  <table cellpadding="4">
    <tr><td>EOD Flag:</td><td th:text="${eodParams.eod_flag}"></td></tr>
    <tr><td>BOD Flag:</td><td th:text="${eodParams.bod_flag}"></td></tr>
    <tr><td>Today:</td><td th:text="${eodParams.today}"></td></tr>
  </table>
  <p><a th:href="@{/InclEod.action}">Back to EOD</a> &nbsp; <a th:href="@{/Menu.action}">Menu</a></p>
</div>    <div th:replace="~{fragments/layout :: footer}"></div>
</body></html>
