<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"/><title>Checkpoint - Positive Pay Detail</title>
<link rel="stylesheet" th:href="@{/css/global-1.css}"/>
    <link rel="stylesheet" th:href="@{/css/screen.css}" href="/css/screen.css"/></head>
<body>
    <div th:replace="~{fragments/layout :: header}"></div>
<div id="content">
  <h2 th:text="${actionMode == 'New' ? 'New Positive Pay' : 'Modify Positive Pay'}">Positive Pay</h2>
  <div th:if="${error}" style="color:red" th:text="${error}"></div>
  <form method="post" th:action="${actionMode == 'New' ? '/Posipay.action?action=Add' : '/Posipay.action?action=Update'}" th:object="${posiDetail}">
    <table cellpadding="4">
      <tr><td>Account #:</td><td>
        <th:block th:if="${actionMode == 'Modify'}"><input type="text" th:field="*{pospay_account_num}" readonly/></th:block>
        <th:block th:if="${actionMode != 'Modify'}"><input type="text" th:field="*{pospay_account_num}"/></th:block>
      </td></tr>
      <tr><td>Check #:</td><td>
        <th:block th:if="${actionMode == 'Modify'}"><input type="text" th:field="*{pospay_check_num}" readonly/></th:block>
        <th:block th:if="${actionMode != 'Modify'}"><input type="text" th:field="*{pospay_check_num}"/></th:block>
      </td></tr>
      <tr><td>Currency:</td><td><input type="text" th:field="*{pospay_currency}"/></td></tr>
      <tr><td>Amount:</td><td><input type="text" th:field="*{pospay_check_amount_disp}"/></td></tr>
      <tr><td>Issue Date:</td><td><input type="text" th:field="*{pospay_issue_date}"/></td></tr>
      <tr><td>Expiry Date:</td><td><input type="text" th:field="*{pospay_expiry_date}"/></td></tr>
      <tr><td>Payee:</td><td><input type="text" th:field="*{pospay_payee}" size="40"/></td></tr>
      <tr><td>Swift Ref:</td><td><input type="text" th:field="*{pospay_swift_ref}"/></td></tr>
      <tr><td>Status:</td><td><input type="text" th:field="*{pospay_status}"/></td></tr>
    </table>
    <button type="submit" th:text="${actionMode == 'New' ? 'Add' : 'Update'}">Submit</button>
    <a th:href="@{/Posipay.action}"><button type="button">Cancel</button></a>
  </form>
</div>    <div th:replace="~{fragments/layout :: footer}"></div>
</body></html>
