<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"/><title>Checkpoint - Deposits EOD Complete</title>
<link rel="stylesheet" th:href="@{/css/global-1.css}"/></head>
<body>
<div id="header"><table width="100%" cellpadding="2"><tr>
  <td><strong>Checkpoint</strong> &nbsp; <a th:href="@{/Menu.action}">Menu</a></td>
  <td align="right">Welcome, <span th:text="${user != null ? user.userFName + ' ' + user.userLName : ''}">User</span>
    &nbsp; <a th:href="@{/Logoff.action}">Logoff</a></td>
</tr></table></div>
<div id="content">
  <h2>Deposits EOD Complete</h2>
  <div th:if="${error}" style="color:red" th:text="${error}"></div>
  <table cellpadding="4">
    <tr><td>EOD Flag:</td><td th:text="${eodParams.eod_flag}"></td></tr>
    <tr><td>BOD Flag:</td><td th:text="${eodParams.bod_flag}"></td></tr>
    <tr><td>Today:</td><td th:text="${eodParams.today}"></td></tr>
  </table>
  <p><a th:href="@{/DepsEod.action}">Back to EOD</a> &nbsp; <a th:href="@{/Deposits.action}">Back to Deposits</a></p>
</div></body></html>
