<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"/><title>Checkpoint - Deposits History Detail</title>
<link rel="stylesheet" th:href="@{/css/global-1.css}"/></head>
<body>
<div id="header"><table width="100%" cellpadding="2"><tr>
  <td><strong>Checkpoint</strong> &nbsp; <a th:href="@{/Menu.action}">Menu</a></td>
  <td align="right">Welcome, <span th:text="${user != null ? user.userFName + ' ' + user.userLName : ''}">User</span>
    &nbsp; <a th:href="@{/Logoff.action}">Logoff</a></td>
</tr></table></div>
<div id="content">
  <h2>Deposits History Detail</h2>
  <div th:if="${error}" style="color:red" th:text="${error}"></div>
  <p><a th:href="@{/DepsHist.action}">Back to History</a></p>
</div></body></html>
