<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Checkpoint - Menu</title>
    <link rel="stylesheet" th:href="@{/css/global-1.css}" href="/css/global-1.css"/>
</head>
<body>
<div id="header">
    <table width="100%" cellpadding="2" cellspacing="0" border="0">
        <tr>
            <td>
                <strong>Checkpoint</strong>
                &nbsp;&nbsp;
                Node: <span th:text="${nodeName}">-</span>
                &nbsp;&nbsp;
                Date: <span th:text="${applDate}">-</span>
            </td>
            <td align="right">
                Welcome,
                <span th:text="${user != null ? user.userFName + ' ' + user.userLName : ''}">User</span>
                &nbsp;&nbsp;
                <a th:href="@{/Logoff.action}">Logoff</a>
            </td>
        </tr>
    </table>
</div>

<div id="menu-body">
    <table width="100%" cellpadding="4" cellspacing="1" border="0" class="tbl">
        <tr class="tblh">
            <th>Sub-Menu</th>
            <th>Function</th>
        </tr>
        <th:block th:if="${productRows != null}">
            <th:block th:each="row : ${productRows}">
                <!-- Sub-menu / module header: func_id is blank -->
                <tr th:if="${#strings.trim(row.product_menu_func_id).isEmpty()}" class="tblh">
                    <td colspan="2">
                        <strong th:text="${row.product_pmf_desc}">-</strong>
                    </td>
                </tr>
                <!-- Function link: func_id is populated -->
                <tr th:unless="${#strings.trim(row.product_menu_func_id).isEmpty()}">
                    <td></td>
                    <td>
                        <a th:href="@{/Menu.action(prod=${row.product_id},menu=${row.product_menu_id},func=${row.product_menu_func_id})}"
                           th:text="${row.product_pmf_desc}">-</a>
                    </td>
                </tr>
            </th:block>
        </th:block>
        <tr th:if="${productRows == null or productRows.length == 0}">
            <td colspan="2">No authorized modules. Contact system administrator.</td>
        </tr>
    </table>
</div>
</body>
</html>
