<html>
  <head>
    <style>
    </style>
    <script language="Javascript" src="calendar.js"></script>
  </head>
  <body>
    <form name="foo">
    <table align=center border=1 width=100%>
    <tr>
    <th align=center colspan="10">Dates</th>
    </tr>
    <tr>
    <td>  <input type="text" size=10 name="bar0" />
              <a href="javascript: void(0);" onclick="return getCalendar(document.foo.bar0);">
              <img src="calendar.png" border="0" /></a></td>
    <td>  <input type="text" size=10 name="bar1" />
              <a href="javascript: void(0);" onclick="return getCalendar(document.foo.bar1);">
              <img src="calendar.png" border="0" /></a></td>
    <td>  <input type="text" size=10 name="bar2" />
              <a href="javascript: void(0);" onclick="return getCalendar(document.foo.bar2);">
              <img src="calendar.png" border="0" /></a></td>
    <td>  <input type="text" size=10 name="bar3" />
              <a href="javascript: void(0);" onclick="return getCalendar(document.foo.bar3);">
              <img src="calendar.png" border="0" /></a></td>
    <td>  <input type="text" size=10 name="bar4" />
              <a href="javascript: void(0);" onclick="return getCalendar(document.foo.bar4);">
              <img src="calendar.png" border="0" /></a></td>
    <td>  <input type="text" size=10 name="bar5" />
              <a href="javascript: void(0);" onclick="return getCalendar(document.foo.bar5);">
              <img src="calendar.png" border="0" /></a></td>
    <td>  <input type="text" size=10 name="bar6" />
              <a href="javascript: void(0);" onclick="return getCalendar(document.foo.bar6);">
              <img src="calendar.png" border="0" /></a></td>
    <td>  <input type="text" size=10 name="bar7" />
              <a href="javascript: void(0);" onclick="return getCalendar(document.foo.bar7);">
              <img src="calendar.png" border="0" /></a></td>
    <td>  <input type="text" size=10 name="bar8" />
              <a href="javascript: void(0);" onclick="return getCalendar(document.foo.bar8);">
              <img src="calendar.png" border="0" /></a></td>
    <td>  <input type="text" size=10 name="bar9" />
              <a href="javascript: void(0);" onclick="return getCalendar(document.foo.bar9);">
              <img src="calendar.png" border="0" /></a></td>
    </tr>
    </table>
    </form>
  </body>
</html>
